{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col w-full">

        <h1 class="text-2xl font-bold text-center mb-10">Créer un nouveau pointage (Chef de projet)</h1>
        <div class="w-[30%] mx-auto">

            {{ form_start(form) }}
            <div class="form-group">

                {{ form_label(form.date, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="users-container">
                <ul class="users text-black"
                    data-prototype="{{ form_widget(form.users.vars.prototype)|e('html_attr') }}">
                    {% for user in form.users %}
                        <li>
                            {{ form_row(user) }}
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="add_user_link create-link w-full mb-4">Ajouter un collaborateur</button>
            </div>

            <div class="clockings-container">
                <ul class="clockings"
                    data-prototype="{{ form_row(form.clockingDetails.vars.prototype)|e('html_attr') }}">
                    {% for clockingDetail in form.clockingDetails %}
                        <li>
                            {{ form_row(clockingDetail) }}
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="add_clocking_link create-link w-full mb-4">Ajouter un chantier</button>
            </div>

            {{ form_row(form._token) }}
            {{ form_row(form.submit, {'attr': {'class': 'form-submit'}}) }}

            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <a class="back-link" href="{{ path('app_Clocking_list') }}">< Retour à la liste</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function addItemToCollection($collectionHolder, $addButton) {
                var prototype = $collectionHolder.dataset.prototype;
                var index = $collectionHolder.getElementsByTagName('li').length;
                var newForm = prototype.replace(/__name__/g, index);
                var $newFormLi = document.createElement('li');
                $newFormLi.innerHTML = newForm;
                $collectionHolder.appendChild($newFormLi);
            }

            function setupCollection(containerClass, buttonClass) {
                var $container = document.querySelector(containerClass);
                var $collectionHolder = $container.querySelector('ul');
                var $addButton = $container.querySelector(buttonClass);

                if ($collectionHolder && $addButton) {
                    $addButton.addEventListener('click', function (e) {
                        addItemToCollection($collectionHolder, $addButton);
                    });
                }
            }

            setupCollection('.users-container', '.add_user_link');
            setupCollection('.clockings-container', '.add_clocking_link');
        });
    </script>
{% endblock %}