<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Kalitics fullstack</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
    >
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('js/clockingForm.js') }}"></script>
    {% endblock %}
</head>
<body class="bg-black text-white font-Roboto py-4 px-6">
<nav class="flex flex-row items-center mb-24 justify-between">
    <div>
        <a href="{{ path('app_home') }}"><img src="{{ asset('build/images/blanc_orange.webp') }}" alt="logo" width="170"
                                              height="35"/></a>
    </div>
    <ul class="flex flex-row gap-6 text-base ml-auto">
        <li class="hover:text-red"><a href="{{ path('app_Clocking_list') }}">Pointages</a></li>
        <li class="hover:text-red"><a href="{{ path('app_Project_list') }}">Chantiers</a></li>
        <li class="hover:text-red"><a href="{{ path('app_User_list') }}">Collaborateurs</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
</body>
</html>
